

  .a_table th {
    text-align: center;
    vertical-align: middle;
    vertical-align: middle;
    width:15%;
  }

  .a_table td {
    text-align: center;
    vertical-align: middle;
    vertical-align: middle;
    width:15%;
  }

  thead {
    background: #EAECED;
  }

  .header_image{
    height: 50px;
    width: 50px;
  }

  #Matrix_Key {
    width: 70%;
    height: 50px;
    vertical-align: middle;

  }